
* {
  font-family: 'Work Sans', sans-serif;
}

/*
.textarea_wrapper{
  /*overflow: hidden;
}
*/

.header {
  padding: 1vh 3vh 1vh 3vh;
  text-align: center;
  background: #581abc;
  color: white;
  font-size: min(20px,3vw);
  font-family: 'Work Sans', sans-serif;
  /*min-width: 150px;*/
}

.canvas {
  height: 100%;
  margin: 20px;
  text-align:center;

}

.boton {
  font-size:20px;
  margin: 0px 0px 2vh 0px;
  
  /*width: 100%;*/ /* Esto me sirve pero no es lo que quería*/ 
}

.dropdown-content {
  margin: 1vh 0px 0vh 0px;
  display: none;
  /*position: absolute;*/
  /*left: 50%;*/
  /*
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  */
  background-color: #581abc;
  min-width: 160px;
  /*z-index: 1;*/
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

 .dropdown:hover .dropdown-content{
  display: block;
}

.dropdown-content.hover{
  display: block;
}

#resultado {
  font-size: min(20px,3vw);
  text-align: center;
}

.textarea_wrapper{
  margin-right:5px;
}

textarea {
  width: 100%;
  height: 300px;
  margin: 0vh 5vw 1vh 0px;
}

/*
th, td, p, input, h3 {
  font:15px 'Segoe UI';
}
*/
table, th, td {
  border: solid 1px #ddd;
  border-collapse: collapse;
  padding: 2px 3px;
  text-align: center;
}
th {
  font-weight:bold;
}